<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <link href='assets/style.css' rel='stylesheet' type='text/css'/>
  </head>
  <body class=''>
    <!-- rendered vert shader -->
    <script type='x-shader/x-vertex' id='vertex-shader'>
    precision highp float;

    uniform mat4 modelViewMatrix;
    uniform mat4 projectionMatrix;
    uniform vec3 cameraPosition;
    uniform float dpi;
    uniform float height;
    uniform sampler2D touchtexture;

    attribute vec3 position;
    attribute vec3 translation;
    attribute vec3 color;
    attribute vec3 clickColor;

    varying vec3 vColor;
    varying vec3 vClickColor;
    varying float vSize;

    void main() {
      // position and project the point
      vec4 mvPosition = modelViewMatrix * vec4(position + translation, 1.0);
      gl_Position = projectionMatrix * mvPosition;

      // convert gl_Position to 0:1 on each axis for touchtexture lookups
      float x = (gl_Position.x + cameraPosition.z) / (2.0 * cameraPosition.z);
      float y = (gl_Position.y + cameraPosition.z) / (2.0 * cameraPosition.z);

      // scale the point size by the device DPI and window height
      gl_PointSize = 0.0004 * dpi * height / -mvPosition.z;

      // adjust the point size based on the touchtexture
      vec4 brightness = texture2D(touchtexture, vec2(x, y));
      float touchSize = gl_PointSize * 200.0 * brightness.r * cameraPosition.z;
      // scale point size with touch texture
      gl_PointSize = max(gl_PointSize, touchSize);
      // set min point size
      gl_PointSize = max(gl_PointSize, 1.0);
      // set max point size
      gl_PointSize = min(gl_PointSize, 40.0);

      // pass varyings
      vColor = color;
      vClickColor = clickColor;
      vSize = gl_PointSize;
    }
    </script>

    <!-- rendered frag shader -->
    <script type='x-shader/x-fragment' id='fragment-shader'>
    precision highp float;

    uniform sampler2D grit;
    uniform float useColor;
    uniform float useNightMode;

    varying vec3 vColor;
    varying vec3 vClickColor;
    varying float vSize;

    void red() {
      gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);
    }

    void main() {
      // get point shape
      if (length(gl_PointCoord - vec2(0.5)) > 0.5) discard;

      if (useNightMode > 0.5) {
        gl_FragColor = vec4(vColor, 1.0);
      } else {
        gl_FragColor = texture2D(grit, gl_PointCoord * vSize / 200.0); // grit
      }

      // overwrite colors if we're GPU picking
      if (useColor > 0.5) gl_FragColor = vec4(vClickColor, 1.0);
    }
    </script>

    <script id='tooltip-template' type='x-html/x-template'>
      <div class="wiki-bio row align-center">
        <div class="wiki-image" style='background-image:url("<%= metadata.thumb %>")'></div>
        <div class="col ">
          <div class="row space-between">
            <div class="col wiki-name"><%= metadata.name.replaceAll('_', ' ') %></div>
            <a href="https://en.wikipedia.org/wiki/<%= metadata.name %>" target="_blank">
              <img class="wiki-icon" src="assets/images/wikipedia-icon.svg">
            </a>
          </div>
          <p><%= metadata.abstract %></p>
        </div>
      </div>
    </script>

    <!-- Sample template for tweets -->
    <script type='x-html/x-template'>
      <div id='tweet'>
        <div class="row align-center space-between">
          <div class="row align-center">
            <img class='twitter-image' src="https://via.placeholder.com/40">
            <div class="col twitter-name">
              <div>Donald J. Trump</div>
              <div>@realDonaldTrump</div>
            </div>
          </div>
          <img class="twitter-icon" src="assets/images/twitter-icon.svg">
        </div>
        <p id='text'><%= decodeURIComponent(escape(metadata)) %></p>
      </div>
    </script>

    <div id='canvas-container'>
      <div id='tooltip'></div>
    </div>
    <script src='assets/js/three.min.js'></script>
    <script src='assets/js/trackball-controls.js'></script>
    <script src='assets/js/gunzip.min.js'></script>
    <script src='assets/js/stats.js'></script>
    <script src='assets/js/luminosity.js'></script>
    <script src='assets/js/effect-composer.js'></script>
    <script src='assets/js/unreal-bloom.js'></script>
    <script src='assets/js/lodash.min.js'></script>
    <script src='assets/js/script.js'></script>
  </body>
</html>