<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <link href='assets/style.css' rel='stylesheet' type='text/css'/>
  </head>
  <body class=''>

    <!-- Sample template for wiki pages -->
    <script type='x-html/x-template' id='tooltip-template'>
      <div class="wiki-bio row align-center">
        <div class="wiki-image" style='background-image:url("<%= metadata.thumb %>")'></div>
        <div class="col ">
          <div class="row space-between">
            <div class="col wiki-name"><%= metadata.name.replaceAll('_', ' ') %></div>
            <a href="https://en.wikipedia.org/wiki/<%= metadata.name %>" target="_blank">
              <img class="wiki-icon" src="assets/images/wikipedia-icon.svg">
            </a>
          </div>
          <p><%= metadata.abstract %></p>
        </div>
      </div>
    </script>

    <!-- Sample template for tweets -->
    <script type='x-html/x-template'>
      <div id='tweet'>
        <div class="row align-center space-between">
          <div class="row align-center">
            <img class='twitter-image' src="https://via.placeholder.com/40">
            <div class="col twitter-name">
              <div>Donald J. Trump</div>
              <div>@realDonaldTrump</div>
            </div>
          </div>
          <img class="twitter-icon" src="assets/images/twitter-icon.svg">
        </div>
        <p id='text'><%= decodeURIComponent(escape(metadata)) %></p>
      </div>
    </script>

    <div id='canvas-container'></div>
    <div id='tooltip'></div>
    <div id='previews-container'></div>
    <div id='hovered-preview'></div>
    <script src='assets/js/three.min.js'></script>
    <script src='assets/js/trackball-controls.js'></script>
    <script src='assets/js/gunzip.min.js'></script>
    <script src='assets/js/stats.js'></script>
    <script src='assets/js/luminosity.js'></script>
    <script src='assets/js/effect-composer.js'></script>
    <script src='assets/js/unreal-bloom.js'></script>
    <script src='assets/js/lodash.min.js'></script>
    <script src='assets/js/script.js'></script>
  </body>
</html>