* {
  margin: 0;
  padding: 0;
}

html,
body,
canvas,
#canvas-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #E8DCB8;
  background-image: url(/assets/images/paper.png);
}

body.night-mode {
  background-color: #000;
  background-image: none;
}

#canvas-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/**
 * Flex
 **/

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

/**
 * Textures
 **/

.particle-texture::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images/particle-texture.jpg);
  opacity: 0.2;
  background-size: 140px;
}

.paper-texture::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images/paper.png);
  opacity: 0.5;
  background-size: 100px;
}

.glow::before {
  border: 1px solid #f5f1ed;
  box-shadow: 0 0 0.05rem rgb(255 255 255 / 40%),
              0 0 0.05rem rgb(255 255 255 / 40%),
              0 0 0.5rem rgb(255 255 255 / 40%),
              0 0 0.2rem rgb(255 255 255 / 40%),
              0 0 0.7rem rgb(255 255 255 / 40%),
        inset 0 0 0.325rem rgb(255 255 255 / 40%);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
}

/**
* Preview
**/

.preview {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: increase-scale;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.22,1.16,.69,1.28);
  transform: translate(-50%, -50%) scale(0.01);
}

.preview.paper-texture::after {
  border-radius: 100%;
}

.preview.hovered {
  z-index: 11;
  animation: increase-scale 0.3s forwards;
  animation-delay: 0s !important;
}

.preview.small {
  animation-name: decrease-scale;
  animation-delay: 0s !important;
}

body.night-mode .preview.hovered {
  animation: increase-scale 0.3s forwards;
}

.preview-image-container {
  border-radius: 100%;
  background-image: url(images/paper.png);
}

.preview-image {
  background-image: none;
  background-size: cover;
  background-position: center top;
  border-radius: 100%;
  opacity: 1;
}

.preview.hovered .preview-image {
  animation: pulse-dark 2s infinite;
}

body.night-mode .preview.hovered .preview-image {
  animation: pulse-light 2s infinite;
}

.preview-image-container::after,
.preview-image.paper-texture::after {
  border-radius: 100%;
  overflow: hidden;
}

.preview-label-container,
.tooltip {
  background-color: #f5f1ed;
}

.preview-label-container {
  position: absolute;
  text-transform: uppercase;
  animation: fade-in 0.25s forwards;
  box-shadow: 0 0 5px #333;
  border-radius: 4px;
  cursor: pointer;
}

.preview.has-image .preview-label-container {
  bottom: -27px;
}

.preview.hovered .preview-label-container {
  display: inline-block;
}

.preview-label {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 5px;
  letter-spacing: 0.02em;
  font-size: 10px;
  font-family: 'Noto Sans Display', sans-serif;
  white-space: nowrap;
  color: #362d23;
  border-radius: inherit;
}

/**
 * Keyframes
 **/

@keyframes decrease-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
  }
}

@keyframes increase-scale {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes square-edges {
  0% {
    border-radius: 100%;
  }
  100% {
    border-radius: 4px;
  }
}

@keyframes slide-up {
  0% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-dark {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-light {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* animation by Matan Stauber: https://histography.io/ */
@keyframes swing-z {
  0% {
    opacity: 0
  }
  5% {
    opacity: 1;
    transform-origin: 50% 0;
    transform: perspective(800px) rotateX(-80deg)
  }
  30% {
    opacity: 1;
    transform-origin: 50% 0;
    transform: perspective(800px) rotateX(30deg)
  }
  70% {
    opacity: 1;
    transform-origin: 50% 0;
    transform: perspective(800px) rotateX(-20deg)
  }
  100% {
    opacity: 1;
    transform-origin: 50% 0;
    transform: perspective(800px) rotateX(0)
  }
}

/**
* Tooltip
**/

#tooltip {
  position: absolute;
  z-index: 100;
  width: 0;
  height: 0;
}

/**
 * Tooltip Click: Wikipedia Bio
 **/

.tooltip {
  width: 0px;
  height: 0px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial;
  /* animation-duration animation-name delay-before-animation fill-direction */
  animation: 0.8s increase-radius-150 0.0s forwards, 0.5s square-edges 0.35s forwards, 0.3s increase-width-360 0.85s forwards;
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 100%;
  background-size: 130px;
}

.tooltip > * {
  opacity: 0;
  animation: 0.5s fade-in 1.125s forwards, 0.5s slide-up 1.125s forwards;
}

.tooltip-image {
  height: 130px;
  width: 130px;
  background-size: cover;
  flex: 0 0 130px;
  margin-right: 10px;
  box-shadow: 0 0 3px grey;
}

.tooltip > .col {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}

.tooltip-icon {
  height: 20px;
}

.tooltip .tooltip-text {
  font-size: 0.775em;
  color: #362d23;
  line-height: 1.25em;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tooltip .tooltip-text::-webkit-scrollbar {
  display: none;
}

@keyframes lighten {
  0% {
    background-color: #383838;
  }
  100% {
    background-color: #f5f1ed;
  }
}

@keyframes increase-radius-150 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}

@keyframes increase-width-360 {
  0% {
    width: 150px;
    transform: translate(-75px, -50%);
  }
  100% {
    width: 360px;
    transform: translate(-75px, -50%);
  }
}

/**
* Loader
**/

#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/**
* Lasso
**/

#lasso-button {
  background: darkorange;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  z-index: 3;
  display: none;
}

/**
* Brand
**/

#brand {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-family: courier;
  text-shadow: 0 0 7px #fff,
               0 0 10px #fff,
               0 0 21px #fff,
               0 0 42px #84bfca,
               0 0 82px #84bfca,
               0 0 92px #84bfca,
               0 0 102px #84bfca,
               0 0 151px #84bfca;
}

/**
* DAT.GUI
**/

.dg.ac {
  z-index: 100 !important;
}

/**
* Noscript
**/

noscript {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 100;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-family: courier;
}

/**
* Offscreen
**/

#offscreen {
  position: absolute;
  top: -1000%;
  left: -1000%;
}

#cursor {
  width: 30px;
  height: 30px;
}

/**
* Development
**/

/* Dat.gui */
.dg.ac {
  display: none;
}

/* Performance */
#stats {
  display: none;
}